# Auto detect text files and perform LF normalization
*.js linguist-language=React
*.jsx linguist-language=React
*.css linguist-language=React
*.less linguist-language=React
*.html linguist-language=React